// added new css
app-myrequest-list{
    width: 100%;
}
ion-item{
    width: 116%;
}
ion-header
{
    font-family: "Poppins";
    font-weight: 400;
}
svg {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  
  .infinite-scroll-content {
    text-align: center;
    padding: 20px 0;
  }
