<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749447955380-abtv8gg67n2ln4jivp3dfo126krq3h3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749447955380-abtv8gg67n2ln4jivp3dfo126krq3h3c</string>
	<key>API_KEY</key>
	<string>AIzaSyARKVW4B2Va9xhz0mVaj9vP8ED6feBgH2I</string>
	<key>GCM_SENDER_ID</key>
	<string>749447955380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multitenant.cryotos</string>
	<key>PROJECT_ID</key>
	<string>cmms-production-895632147</string>
	<key>STORAGE_BUCKET</key>
	<string>cmms-production-895632147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749447955380:ios:d6e4f42f2be2cdd2</string>
	<key>DATABASE_URL</key>
	<string>https://cmms-production-895632147.firebaseio.com</string>
</dict>
</plist>