.contactlabel{
    margin: 13px 8px 13px 0;
    font-family: "Poppins";
    color: #000!important;
    font-size: 14px;
}
.contactinput{
    font-family: "Poppins";
    margin: 7px 8px;
    padding: 0;
    left: -8px;
}
ion-item{
    padding-left: 16px;
}
.phone_icon {
    color: #445498;
    margin-top: 53px;
    text-align: center;
    font-size: 3rem;
}
