.clipboardbtn{
    height: 62px;
}
.sign-pad {
    background: #FFFFFF;
    border: 1px solid rgba(195, 197, 200, 0.5);
    border-radius: 4px;
}
.uploadpadding {
    padding: 3vw;
}
ion-label{
    opacity: 0.8;
    margin: 13px 8px 13px 0!important;
    font-size: 12px!important;
}
.sign-board {
background: #F3F8FF;
border: 1px solid rgba(195, 197, 200, 0.5);
border-radius: 4px;
}