<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{'checkedin' | translate}}</ion-title>
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary" no-border-top>
    <ion-segment [(ngModel)]="checkinType" class="ion-toolbar">
      <ion-segment-button *ngFor="let btn of buttonList" class="headerbutton" value="{{btn.value}}"  [disabled]="btn.isDisabled">
        <ion-icon name="{{btn.icon}}"></ion-icon>{{btn.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="checkinType == 'other'">
    <ion-item lines="none">
      <ion-icon name="camera"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkinType == 'imageupload'">
    <ion-item class="gps-view" lines="none">
      <ion-row class="uploadpadding" text-center>
        <ion-col class="imageIcon">
          <div (click)="imgUpload()" tappable>
            <ion-icon class="singleimage" name="image"></ion-icon>
            <div class="imagetext">{{'clickHere' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkinType == 'gps'">
    <ion-item class="gps-view" button (click)="selectGPS('Checkin')" lines="none">
      <ion-row  class="uploadpadding" text-center>
        <ion-col size="12" class="imageIcon">
          <ion-icon name="location"></ion-icon>
          <div>
            <h2 class="imagetext">{{'clickHere' | translate}}</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkinType == 'qrcode'">
    <ion-item class="gps-view" button (click)="selectQR('Checkin')" lines="none">
      <ion-row  class="uploadpadding" text-center>
        <ion-col size="12" class="imageIcon">
      <ion-icon name="scan-outline"></ion-icon>
      <div>
        <h2 class="imagetext">{{'clickHere' | translate}}</h2>
      </div>
    </ion-col>
  </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
