ion-button{
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
    --border-radius: 2px;
    white-space: normal;

}
// :host(.button-full:not(.button-round)) .button-native {
//     border-radius: 3px;
//     border-right-width: 0px;
//     border-left-width: 0px;
// 