<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>{{'Navigation' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="tog()" class="menu">
        <ion-icon slot="icon-only" name="compass"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid class="subheader" *ngIf="toggle">
    <ion-row>
      <ion-col size="4"class="txttrasform">
        {{'Source (A)' | translate}}:
      </ion-col>
      <ion-col size="8">
        {{source}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"  class="txttrasform">
        {{'Destination (B)' | translate}}:
      </ion-col>
      <ion-col size="8">
        {{destination}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="txttrasform">
        {{'Distance' | translate}}:
      </ion-col>
      <ion-col size="8">
        {{locationdirections.distance}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="txttrasform">
        {{'Travel Time' | translate}}:
      </ion-col>
      <ion-col size="8">
        {{locationdirections.duration}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="height:100%">
    <!-- <div #directionsPanel></div> -->
    <div #map id="map"></div>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="checkin()" expand="block">
    {{'checkIn' | translate}}
  </ion-button>
</ion-footer>